* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: cursive;
    transition: .5s;
}

.navbar {
    display: flex;
    background-color: grey;
    justify-content: space-around;
}

.navbar a {
    padding: 12px 0px;
    width: 100%;
    text-align: center;
    font-size: 19px;
    color: white;
    text-decoration: none;
}

.navbar .active {
    background-color: darkcyan;
}

@media screen and (max-width:600px) {
    .navbar {
        flex-direction: column;
    }

    .navbar a {
        text-align: start;
        padding: 12px 0px 12px 10px;
    }
}