* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: cursive;
    /* transition: .3s; */
}

.sidenav {
    display: flex;
    align-items: center;
    background-color: black;
    position: relative;
}

.sidenav a {
    color: white;
    text-decoration: none;
    font-size: 21px;
    padding: 8px 25px;
}

.sidenav a:hover {
    color: #413f3f;
    background-color: white;
}

.main {
    padding: 10px;
}

.content {
    display: flex;
    background-color: grey;
    overflow: hidden;
    height: 0px;
    position: absolute;
    top: 45px;
    left: 0px;
    width: 100%;
}

.subnav:hover #about {
    height: initial;
}

.subnav:hover #services {
    height: initial;
}

.subnav:hover #partners {
    height: initial;
}